<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/counter.css">
    <title>Document</title>
    <script type="text/javascript"src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
      (function() { emailjs.init("user_8md1rA5RyxJpAIVfAD7LP"); })();
    </script>
</head>
<h1>Time is running</h1>
<h2>Let your love once know you are safe</h2>
<div id="clockdiv">
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<div class="container">
    <div class="center">
      <button class="btn" onclick="reset()">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>I'm Safe</span>
      </button>
    </div>
  </div>
  <div id="close"><a href="/">X</a></div>


<script src="./script/counter.js"></script>
</html>