<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="wel center">
        <div class="inner center">
            <h1 style="text-align: center;">Welcome to the disease precautionar</h1>
            <h3 class="center">
                <p>Heart<br>Diabetes</p>
            </h3>
            <button><a href="/">Log-in</a></button>
        </div>
    </div>
</body>
</html>