body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgba(51, 255, 0, 0.658);
  font-family: sans-serif;
  font-weight: 100;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  border-radius: 5%;
  background-color: #00816A;
  border: 1px solid #b2c0ce;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #396;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#close{
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 5%;
  background-color: #00816A;
  border: 1px solid #b2c0ce;
  outline: none;
  transition: 1s ease-in-out;
}